:root {
    --text: #fbf1c7;
    --bg: #1d2021;
    --contrast: #928375;
    --link: #83a598;
}

body {
    font-family: serif;
    font-size: 120%;
    color: var(--text);
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: justify;
    hyphens: auto;
    line-height: 200%;
    background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: monospace;
}

h1 {
    color: #b8bb26;
    text-align: center;
    padding: 1em;

    & > a { 
	    color: #b8bb26 !important;
	    background-color: var(--bg) !important;
	    text-decoration: none !important;
    }
}

h2, h3 {
    margin-left: 1em;
}

a {
    color: var(--link);
    text-decoration: underline;

    &:hover {
        color: var(--bg);
        background-color: var(--link);
    }
}

img {
    border: 4px solid var(--text);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

hr {
    color: var(--contrast);
    max-width: 75%;
    margin: 2em auto;
}

header {
    font-family: monospace;
    display: flex;
    flex-wrap: nowrap;

    & > a {
        flex: 1;
        text-align: center;
    }

    a {
        color: var(--bg);
        background-color: var(--link);
        text-decoration: none !important;

        &:hover {
            background-color: #458588;
        }
    }
}

footer {
    color: var(--contrast);
    font-family: monospace;
    text-align: center;
    padding: 2em;
}

#profiles {
    display: flex;
    flex-wrap: nowrap;

    .profile {
        flex: 1;
        text-align: center;
        font-size: 90%;
        color: var(--bg);
        background: #b8bb26;
        margin: .5em;
        padding: 1em;
        
        h2 {
            margin-left: 0 !important;
        }
    }
}

.flex {
	display: flex;
	flex-wrap: nowrap;

	img {
		flex: 1;	
		margin-left: 1em;
		margin-right: 1em;
	}
}

